speedyport=[Port to listen on]
HEARTBEAT_PATH=[URL for Speedybot to declare status]
BOT_TOKEN=[APP TOKEN]
updates_channel=[CHANNEL ID]
blog_updates_channel=[CHANNEL ID]
guild_id=[GUILD ID]
client_id=[CLIENT ID]
check_blog=[True or False]
allow_expiry=[True or False]
expiry_days=[Some number of days beyond which messages from the bot will be removed]